.header {
  height: 70px;
  background-color: blueviolet;
  margin: 0;
  padding: 0 60px 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    color: snow;
  }
}
